page-home {

    .btnExit{
        margin-top: 0%;
        height: 8%;
        width: 100%;
    }
    .red{
        background: red;
        
    }
    .saldo{
        //background-color: black;
        margin-top: 15%;
        height: 15%;
        width: 100%;
        
        .labelTxt{
            font-size: 130%;
            
        }
        .labelSaldo{
            font-size: 150%;
            padding-left: 10%;
            //width: 40%;
            //background-color: red;
            margin-left: 0%;
        }    
    }
    .btnScan{
        margin-top: 25%;
        height: 40%;
        font-size: 150%;
    }
    
    
}
